.auth{
    background-color: rgb(43, 41, 41);
}
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url('https://t4.ftcdn.net/jpg/01/19/11/55/360_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg')
}

.auth-form {
    background-color: #494646;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
.auth-form p{
    cursor: pointer;
    color: #ff9900;
}
  
.auth-container h2 {
    margin-bottom: 20px;
    margin-top: 0
}

.auth-container input {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.auth-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

  
  .input-group-append i {
    font-size: 1rem;
  }

.auth-container button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-bottom: 10px;
}
