/* Dashboard Container */

.dashboard {
    display: flex;
    height: 100vh;
    /* background-color: #1c1e21; */
    flex-direction: column;
  }
  
  .dashboard-container {
    flex: 1;
    padding: 20px;
    height: auto;
    background-color: #555;
    margin-left: 200px;
    transition: margin-left 0.2s ease;
  }

  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .dashboard-header h1 {
    font-size: 24px;
    font-weight: 600;
    color: #ff9900;
  }
  
  /* Toggle Task Form Button */
  .toggle-task-form {
    margin-bottom: 3px; 
    padding: 10px 20px;
    background-color: #ff9900; 
    color: #222; 
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-task-form:hover {
    background-color: #b16f0c; 
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  

  .task-item.expanded {
    max-height: 500px;
    transform: scale(1.02);
  }
  
  .task-item:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
  }
  
  /* Edit Task Form */
  .edit-task-section .task-history-section.task-form-section {
    margin-bottom: 10px; 
  }
  
  
  .tabs {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 10px;
  }
  
  .tabs-container {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: sticky; 
    top: 50px; 
    z-index: 100; 
  }

  .tab {
    flex: 1;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ff9900;
    border: 1px solid #666;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s ease;
    /* transition: background-color 0.3s, transform 0.3s,  color 0.3s,  */
  }
  
  .tab:hover {
    background-color: #f3b407;
  }
  
  .tab.active {
    background-color: #020202;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.2);
  }
  
  .tab-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  @media (max-width: 767px) {
    .dashboard {
      flex-direction: column;
    }
    .dashboard-container {
      margin-left: 0;
      padding: 10px; 
  }
  .tabs-container {
    flex-direction: column; 
    gap: 10px;
}
    .task-item {
      width: 100%;
    }
  }