.edit-task-form{
  background-color: #353434;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  transition: all 0.3s ease;
  max-width: 600px; 
  margin-left: auto;
  margin-right: auto;
}

.edit-task-form h2{
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
.edit-task-form label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #ff9900;
}

.edit-task-form input,
.edit-task-form textarea,
.edit-task-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.edit-task-form input:focus,
.edit-task-form textarea:focus,
.edit-task-form select:focus {
  border-color: #007bff;
  outline: none;
}

.edit-task-form button {
  width: 50%;
  padding: 12px;
  background-color: #055858;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 16px;
  font-weight: bold;
}

.edit-task-form button:hover {
  background-color: #0056b3;
}

.assign-container,
.permissions-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  margin-top: 10px;
  padding: 10px;

  border-radius: 8px;
  background: #464444;
}

.assign-item,
.permission-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #464444;
  padding: 5px 10px;
  
  border-radius: 6px;
  cursor: pointer;
}

.assign-item:hover label,
.permission-item:hover label {
  color: #007bff;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}