.task-notes{
    margin-top: 10px;
}

.add-note-button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.add-note-button:hover{
    background-color: #0056b3;
}

.note-input{
    margin-bottom:10px;
}

.note-input textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.note-input button{
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.note-input-button:hover{
    background-color: #218838;
}

.note-list{
    margin-top: 10px;
}

.task-note{
    background-color: #424242;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.note-text{
    color: rgb(6, 240, 240);
}

.note-time{
    font-size: 0.8em;
    color: rgb(3, 154, 241);
}