.notification{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3b3f43;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.notification.success{
    background-color: #1b9437;
}

.notification.error{
    background-color: #dc3545;
    color: white;
}